.sx-button-icon-scroll-fwd {
	-fx-cursor: hand;
	-fx-background-color: null;
    -fx-background-image: url("icons/scroll_forward.png");
    -fx-opacity: 0.2;
}
.sx-button-icon-scroll-fwd:hover {
    -fx-opacity: 0.6;
}
.sx-button-icon-scroll-fwd:disabled {
    -fx-opacity: 0.1;
}

.sx-button-icon-scroll-bck {
	-fx-cursor: hand;
	-fx-background-color: null;
    -fx-background-image: url("icons/scroll_back.png");
    -fx-opacity: 0.2;
}
.sx-button-icon-scroll-bck:hover {
    -fx-opacity: 0.6;
}
.sx-button-icon-scroll-bck:disabled {
    -fx-opacity: 0.1;
}




.sx-button-icon-order-remove {
	-fx-cursor: hand;
	-fx-background-color: null;
    -fx-background-image: url("icons/order_remove.png");
    -fx-opacity: 0.6;
}
.sx-button-icon-order-remove:hover {
    -fx-opacity: 1.0;
}

.sx-button-icon-order-cover {
	-fx-cursor: hand;
	-fx-background-color: null;
    -fx-background-image: url("icons/order_cover.png");
    -fx-opacity: 0.6;
}
.sx-button-icon-order-cover:hover {
    -fx-opacity: 1.0;
}





.sx-button-icon-favorite-neutral {
	-fx-cursor: hand;
	-fx-background-color: null;
    -fx-background-image: url("icons/flag_favorite_neutral.png");
    -fx-opacity: 0.7;
}
.sx-button-icon-favorite-neutral:hover {
    -fx-opacity: 1.0;
}

.sx-button-icon-favorite-positive {
	-fx-cursor: hand;
	-fx-background-color: null;
    -fx-background-image: url("icons/flag_favorite_positive.png");
    -fx-opacity: 0.6;
}
.sx-button-icon-favorite-positive:hover {
    -fx-opacity: 1.0;
}



.sx-button-icon-approval-neutral {
	-fx-cursor: hand;
	-fx-background-color: null;
    -fx-background-image: url("icons/flag_approval_neutral.png");
    -fx-opacity: 0.5;
}
.sx-button-icon-approval-neutral:hover {
    -fx-opacity: 1.0;
}

.sx-button-icon-approval-negative {
	-fx-cursor: hand;
	-fx-background-color: null;
    -fx-background-image: url("icons/flag_approval_negative.png");
    -fx-opacity: 0.5;
}
.sx-button-icon-approval-negative:hover {
    -fx-opacity: 1.0;
}

.sx-button-icon-approval-positive {
	-fx-cursor: hand;
	-fx-background-color: null;
    -fx-background-image: url("icons/flag_approval_positive.png");
    -fx-opacity: 0.5;
}
.sx-button-icon-approval-positive:hover {
    -fx-opacity: 1.0;
}





.sx-button-icon-cancel {
	-fx-cursor: hand;
	-fx-background-color: null;
    -fx-background-image: url("icons/navigation_cancel.png");
    -fx-opacity: 0.5;
}
.sx-button-icon-cancel:hover {
    -fx-opacity: 1.0;
}
.sx-button-icon-cancel:disabled {
    -fx-opacity: 0.1;
}

.sx-button-icon-minimize {
	-fx-cursor: hand;
	-fx-background-color: null;
    -fx-background-image: url("icons/navigation_minimize.png");
    -fx-opacity: 0.5;
}
.sx-button-icon-minimize:hover {
    -fx-opacity: 1.0;
}
.sx-button-icon-minimize:disabled {
    -fx-opacity: 0.1;
}






.sx-button-icon-navigate-bck {
	-fx-padding: 0;
	-fx-cursor: hand;
	-fx-background-color: null;
    -fx-background-image: url("icons/navigate_bck.png");
    -fx-opacity: 0.5;
}
.sx-button-icon-navigate-bck:hover {
    -fx-opacity: 0.9;
}
.sx-button-icon-navigate-bck:disabled {
    -fx-opacity: 0.1;
}

.sx-button-icon-navigate-fwd {
	-fx-padding: 0;
	-fx-cursor: hand;
	-fx-background-color: null;
    -fx-background-image: url("icons/navigate_fwd.png");
    -fx-opacity: 0.5;
}
.sx-button-icon-navigate-fwd:hover {
    -fx-opacity: 0.9;
}
.sx-button-icon-navigate-fwd:disabled {
    -fx-opacity: 0.1;
}




.sx-button-icon-exit {
	-fx-padding: 0;
	-fx-cursor: hand;
	-fx-background-color: null;
    -fx-background-image: url("icons/exit.png");
    -fx-opacity: 0.4;
}
.sx-button-icon-exit:hover {
    -fx-opacity: 0.6;
}
.sx-button-icon-exit:disabled {
    -fx-opacity: 0.1;
}




.sx-button-icon-overview {
	-fx-cursor: hand;
	-fx-background-color: null;
    -fx-background-image: url("icons/overview.png");
    -fx-opacity: 0.2;
}
.sx-button-icon-overview:hover {
    -fx-opacity: 0.3;
}
.sx-button-icon-overview:selected {
    -fx-opacity: 1.0;
}
.sx-button-icon-overview:selected:hover {
    -fx-opacity: 0.4;
}



.sx-button-icon-snapshots {
	-fx-cursor: hand;
	-fx-background-color: null;
    -fx-background-image: url("icons/snapshots.png");
    -fx-opacity: 0.2;
}
.sx-button-icon-snapshots:hover {
    -fx-opacity: 0.3;
}
.sx-button-icon-snapshots:selected {
    -fx-opacity: 1.0;
}
.sx-button-icon-snapshots:selected:hover {
    -fx-opacity: 0.4;
}
.sx-button-icon-snapshots:disabled {
    -fx-opacity: 0.05;
}
